@import "tailwindcss";

@theme{
    --color-primary: #74C69D;
    --font-title: crimson, serif;
    --font-body: worker sans, sans-serif;
}
@layer{
    .btn{
        @apply bg-white font-bold py-2 px-4 rounded;
    }
}